.body-content{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../../assets/images/img4.jpg");
    background-size: cover;
    background-position: 0 850px;
    height: 80%;
}
.desc{
    margin: auto;
    position: relative;
    color: #fff;
    top: 200px;
}
h1{
    display: flex;
    font-size: x-large;
    justify-content: center;
    font-weight: bold;
}
p{
    font-size: 14px;
    font-family: sans-serif;
}
h1{
    font-family: 'Times New Roman', Times, serif;
}
.logo{
    background-color: transparent;
}
.flex{
    display: flex;
    background-color: transparent;
    justify-content: center;
    margin: 0px 0px 50px;
}
.body-content{
    margin: auto;
}