<div class="contact">
  <div class="contact1">
    <p>Tel: 0329462008</p>
  <p>Email: finaritratojonirian@gmail.com</p>
  <p>facebook: Finaritra Razanajaona</p>
  </div>
  <h1>
    Veillez Remplir ce formulaire
  </h1>
  <p>si vous avez des questions,reseignez ces champs</p>
  <div class="input">

    <p>
      <mat-form-field appearance="fill">
        <mat-label>Nom</mat-label>
        <input matInput placeholder="votre nom">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint></mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput placeholder="email">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint></mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Message</mat-label>
        <input matInput placeholder="entrer votre Message">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Merci d'avoir rempli tous ces champs</mat-hint>
      </mat-form-field>
    </p>
  <button mat-button routerLink="">Envoyer</button>
  </div>
</div>