.contact{
   margin: auto;
   width: fit-content;
}
h1{
    color: rgb(255, 145, 0);
}
button{
    background-color: rgb(237, 146, 28);
}
.input{
    padding: 0 3em;
}
body{
    width: auto;
}
.contact1{
    margin-bottom: 2em;
    box-shadow: 0 23px 40px -40px black;
    padding: 1em;
}