<div class="body-content">

    <div class="content">
        <div class="content-main">
            <h1>Les recettes de cette semaine</h1>
            <div class="content-main-list">
                <div class="content-main-list1">
                    <h2>Poivre Farci</h2>
                    <div>
                        <a href="">
                            <img src="../../assets/images/img1.jpg" alt="">
                        </a>
                    </div>
                    <div class="content-main-description">
                        <p>17/7/21</p>
                        <p class="phrase">Aujourd'hui je vous dévoile une nouvelle recette de mon livre "à la fin de ce
                            livre vous aimerez les légumes" et...</p>
                        <button mat-button routerLink="savoirplus">En savoir plus</button>
                    </div>
                </div>
                <div class="content-main-list2">
                    <h2>Poudine au chocolat</h2>
                    <div>
                        <a href="">
                            <img src="../../assets/images/imgl1.jpg" alt="">
                        </a>
                    </div>
                    <div class="content-main-description">
                        <p>17/7/21</p>
                        <p>Aujourd'hui je vous dévoile une nouvelle recette de mon livre "à la fin de ce livre vous
                            aimerez
                            les légumes" et...</p>
                        <button mat-button routerLink="">En savoir plus</button>
                    </div>
                </div>
                <div class="content-main-list3">
                    <h2>Poulet Sauce</h2>
                    <div>
                        <a href="">
                            <img src="../../assets/images/imgl2.jpg" alt="">
                        </a>
                    </div>
                    <div class="content-main-description">
                        <p>17/7/21</p>
                        <p>Aujourd'hui je vous dévoile une nouvelle recette de mon livre "à la fin de ce livre vous
                            aimerez
                            les légumes" et...</p>
                        <button mat-button routerLink="">En savoir plus</button>
                    </div>
                </div>
                <div class="content-main-list4">
                    <h2>Tacos rond</h2>
                    <div>
                        <a href="">
                            <img src="../../assets/images/imgl3.jpg" alt="">
                        </a>
                    </div>
                    <div class="content-main-description">
                        <p>17/7/21</p>
                        <p>Aujourd'hui je vous dévoile une nouvelle recette de mon livre "à la fin de ce livre vous
                            aimerez
                            les légumes" et...</p>
                        <button mat-button routerLink="">En savoir plus</button>
                    </div>
                </div>
                <div class="content-main-list5">
                    <h2>Riz au Crevette</h2>
                    <div>
                        <a href="">
                            <img src="../../assets/images/img9.jpg" alt="">
                        </a>
                    </div>
                    <div class="content-main-description">
                        <p>17/7/21</p>
                        <p>Aujourd'hui je vous dévoile une nouvelle recette de mon livre "à la fin de ce livre vous
                            aimerez
                            les légumes" et...</p>
                        <button mat-button routerLink="">En savoir plus</button>
                    </div>
                </div>
                <div class="content-main-list6">
                    <h2>Gateau resin</h2>
                    <div>
                        <a href="">
                            <img src="../../assets/images/imgl5.jpg" alt="">
                        </a>
                    </div>
                    <div class="content-main-description">
                        <p>17/7/21</p>
                        <p>Aujourd'hui je vous dévoile une nouvelle recette de mon livre "à la fin de ce livre vous
                            aimerez
                            les légumes" et...</p>
                        <button mat-button routerLink="">En savoir plus</button>
                    </div>
                </div>
                <div class="content-main-list7">
                    <h2>Pizza au fromage</h2>
                    <div>
                        <a href="">
                            <img src="../../assets/images/imgl6.jpg" alt="">
                        </a>
                    </div>
                    <div class="content-main-description">
                        <p>17/7/21</p>
                        <p>Aujourd'hui je vous dévoile une nouvelle recette de mon livre "à la fin de ce livre vous
                            aimerez
                            les légumes" et...</p>
                        <button mat-button routerLink="">En savoir plus</button>
                    </div>
                </div>
                <div class="content-main-list8">
                    <h2>Salade</h2>
                    <div>
                        <a href="">
                            <img src="../../assets/images/imgl7.jpg" alt="">
                        </a>
                    </div>
                    <div class="content-main-description">
                        <p>17/7/21</p>
                        <p>Aujourd'hui je vous dévoile une nouvelle recette de mon livre "à la fin de ce livre vous
                            aimerez
                            les légumes" et...</p>
                        <button mat-button routerLink="">En savoir plus</button>
                    </div>
                </div>
                <div class="content-main-list9">
                    <h2>Keybab</h2>
                    <div>
                        <a href="">
                            <img src="../../assets/images/imgl8.jpg" alt="">
                        </a>
                    </div>
                    <div class="content-main-description">
                        <p>17/7/21</p>
                        <p>Aujourd'hui je vous dévoile une nouvelle recette de mon livre "à la fin de ce livre vous
                            aimerez
                            les légumes" et...</p>
                        <button mat-button routerLink="">En savoir plus</button>
                    </div>
                </div>
            </div>
        </div>

        <aside class="sidebar">
            <div class="sidebar-widget">
                <h3 class="sidebar-title">Recherche</h3>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>chercher les recettes</mat-label>
                    <textarea matInput placeholder=""></textarea>
                </mat-form-field>
            </div>
            <div class="sidebar-widget">
                <h3 class="sidebar-title">Commentaires</h3>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Entrer ici votre Commentaires</mat-label>
                    <textarea matInput placeholder=""></textarea>
                </mat-form-field>
            </div>
            <div class="sidebar-widget-sidebar">
                <div class="none">
                    <h3>Listes des recettes</h3>
                    <ul>
                        <ol>
                            Recettes Sucrées :
                        </ol>
                        <li>Poudine au chocolat</li>
                        <li>Esquimo</li>
                        <li>Tarte au resin</li>
                        <li>Gateau</li>
                        <li>Gauffre</li>
                        <li>Crepe</li>
                    </ul>
                    <ul>
                        <ol>Recettes Salées :</ol>
                        <li>Pizza</li>
                        <li>Tacos</li>
                        <li>Poivre Farci</li>
                        <li>Keybab</li>
                        <li>Riz au Crevette</li>
                    </ul>
                </div>
            </div>
            <div class="sidebar-widget">
                <h3 class="sidebar-title">Recherche</h3>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>chercher les recettes</mat-label>
                    <textarea matInput placeholder=""></textarea>
                </mat-form-field>
            </div>
            <div class="sidebar-widget">
                <h3 class="sidebar-title">Commentaires</h3>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Entrer ici votre Commentaires</mat-label>
                    <textarea matInput placeholder=""></textarea>
                </mat-form-field>
            </div>
            <div class="sidebar-widget">
                <h3>A propos</h3>
                <p class="apropos">Ce blog est utile pour les gens qui aime la cuisine,
                     ils peuvent voir des recettes Sucrées et des recettes Salées,
                     tous les ingredients sont faciles à trouver.
                     Si vous avez des questions, veuillez les envoyez par email 
                </p>
            </div>
            <div class="sidebar-widget"></div>
            <div class="sidebar-widget"></div>
            <div class="sidebar-widget"></div>
            <div class="sidebar-widget"></div>
            <div class="sidebar-widget"></div>


        </aside>
    </div>
</div>