h1{
    color: rgb(255, 145, 0);
}
img{
    width: 300px;
    border-radius: 20px;
}
.content{
    display: flex;
    justify-content: space-around;
}
.sidebar{
    display: flex;
    flex-direction: column;
}
.content-main-list{
    position: relative;
    height: 4436px;
}
.content-main-description{
    display: flex;
    flex-direction: column;
    box-shadow: 0 23px 40px -40px black;
}
.phrase{
    margin: 5px 0 0 0;
    font-size: 14px;
}
button{
    margin: 10px 0;
    font-size: 12px;
    text-transform: uppercase;
    width: 40%;
    background:burlywood;
    color: #fff;
    left: 30%;
}

.content-main-list1{
    position: absolute;
    left: 0px;
    top: 0px;
}
.content-main-list2{
    position: absolute;
    left: 325px;
    top: 0px;
}
.content-main-list3{
    position: absolute;
    left: 0%;
    top: 700px;
}
.content-main-list4{
    position: absolute;
    left: 325px;
    top: 500px;
}
.content-main-list5{
    position: absolute;
    left: 0px;
    top: 1350px;
}
.content-main-list6{
    position: absolute;
    left: 325px;
    top: 1200px;
}
.content-main-list7{
    position: absolute;
    left: 0px;
    top: 2050px;
}
.content-main-list8{
    position: absolute;
    left: 325px;
    top: 1850px;
}
.content-main-list9{
    position: absolute;
    left: 50%;
    top: 2500px;
}

button:hover{
    background-color: rgb(255, 150, 12);
}
.sidebar-widget-sidebar{
    height: 500px;
    box-shadow: 0 23px 40px -40px black;
    margin: 3em 0
}
ol{
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(220, 134, 21);
    padding-bottom: 1em;
}
.sidebar-widget{
    margin-bottom: 3em;
    box-shadow: 0 23px 40px -40px black;
}
.apropos{
    width: 200px;
    padding: 1em;
}