<div class="body-content">

    <div class="content">
        <div class="content-main">
            <h1>Les Meilleurs recettes Sucrees</h1>
            <div class="content-main-list">
                <div class="content-main-list1">
                    <h2>Esquimo a deux parfum</h2>
                    <div>
                        <a href="">
                            <img src="../../assets/images/image1.jpg" alt="">
                        </a>
                    </div>
                    <div class="content-main-description">
                        <p>17/7/21</p>
                        <p class="phrase">Aujourd'hui je vous dévoile une nouvelle recette de mon livre "à la fin de ce
                            livre vous aimerez les légumes" et...</p>
                        <button mat-button routerLink="">En savoir plus</button>
                    </div>
                </div>
                <div class="content-main-list2">
                    <h2>Poudine au chocolat</h2>
                    <div>
                        <a href="">
                            <img src="../../assets/images/imgl1.jpg" alt="">
                        </a>
                    </div>
                    <div class="content-main-description">
                        <p>17/7/21</p>
                        <p>Aujourd'hui je vous dévoile une nouvelle recette de mon livre "à la fin de ce livre vous
                            aimerez
                            les légumes" et...</p>
                        <button mat-button routerLink="">En savoir plus</button>
                    </div>
                </div>
                <div class="content-main-list3">
                    <h2>Gateau a la fraise</h2>
                    <div>
                        <a href="">
                            <img src="../../assets/images/image2.jpg" alt="">
                        </a>
                    </div>
                    <div class="content-main-description">
                        <p>17/7/21</p>
                        <p>Aujourd'hui je vous dévoile une nouvelle recette de mon livre "à la fin de ce livre vous
                            aimerez
                            les légumes" et...</p>
                        <button mat-button routerLink="">En savoir plus</button>
                    </div>
                </div>
                <div class="content-main-list4">
                    <h2>Tarte au resin</h2>
                    <div>
                        <a href="">
                            <img src="../../assets/images/image3.jpg" alt="">
                        </a>
                    </div>
                    <div class="content-main-description">
                        <p>17/7/21</p>
                        <p>Aujourd'hui je vous dévoile une nouvelle recette de mon livre "à la fin de ce livre vous
                            aimerez
                            les légumes" et...</p>
                        <button mat-button routerLink="">En savoir plus</button>
                    </div>
                </div>
                <div class="content-main-list5">
                    <h2>Crepe citronée</h2>
                    <div>
                        <a href="">
                            <img src="../../assets/images/image4.jpg" alt="">
                        </a>
                    </div>
                    <div class="content-main-description">
                        <p>17/7/21</p>
                        <p>Aujourd'hui je vous dévoile une nouvelle recette de mon livre "à la fin de ce livre vous
                            aimerez
                            les légumes" et...</p>
                        <button mat-button routerLink="">En savoir plus</button>
                    </div>
                </div>
                <div class="content-main-list6">
                    <h2>Gauffre</h2>
                    <div>
                        <a href="">
                            <img src="../../assets/images/image6.jpg" alt="">
                        </a>
                    </div>
                    <div class="content-main-description">
                        <p>17/7/21</p>
                        <p>Aujourd'hui je vous dévoile une nouvelle recette de mon livre "à la fin de ce livre vous
                            aimerez
                            les légumes" et...</p>
                        <button mat-button routerLink="">En savoir plus</button>
                    </div>
                </div>
                <div class="content-main-list7">
                    <h2>petit gateau caramelise</h2>
                    <div>
                        <a href="">
                            <img src="../../assets/images/img69.jpg" alt="">
                        </a>
                    </div>
                    <div class="content-main-description">
                        <p>17/7/21</p>
                        <p>Aujourd'hui je vous dévoile une nouvelle recette de mon livre "à la fin de ce livre vous
                            aimerez
                            les légumes" et...</p>
                        <button mat-button routerLink="">En savoir plus</button>
                    </div>
                </div>
                <div class="content-main-list8">
                    <h2>Gateau a la vanille</h2>
                    <div>
                        <a href="">
                            <img src="../../assets/images/imgl5.jpg" alt="">
                        </a>
                    </div>
                    <div class="content-main-description">
                        <p>17/7/21</p>
                        <p>Aujourd'hui je vous dévoile une nouvelle recette de mon livre "à la fin de ce livre vous
                            aimerez
                            les légumes" et...</p>
                        <button mat-button routerLink="">En savoir plus</button>
                    </div>
                </div>
                <div class="content-main-list9">
                    <h2>Poudine au chocolat</h2>
                    <div>
                        <a href="">
                            <img src="../../assets/images/imgl1.jpg" alt="">
                        </a>
                    </div>
                    <div class="content-main-description">
                        <p>17/7/21</p>
                        <p>Aujourd'hui je vous dévoile une nouvelle recette de mon livre "à la fin de ce livre vous
                            aimerez
                            les légumes" et...</p>
                        <button mat-button routerLink="">En savoir plus</button>
                    </div>
                </div>
            </div>
        </div>

        <aside class="sidebar">
            <div class="sidebar-widget-sidebar">
                <div class="none"></div>
            </div>
            <div class="sidebar-widget">
                <h3 class="sidebar-title">Recherche</h3>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>chercher les recettes</mat-label>
                    <textarea matInput placeholder=""></textarea>
                </mat-form-field>
            </div>
            <div class="sidebar-widget">
                <h3 class="sidebar-title">Commentaires</h3>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Entrer ici votre Commentaires</mat-label>
                    <textarea matInput placeholder=""></textarea>
                </mat-form-field>
            </div>
            <div class="sidebar-widget">
                
            </div>
            <div class="sidebar-widget"></div>
            <div class="sidebar-widget"></div>
            <div class="sidebar-widget"></div>
            <div class="sidebar-widget"></div>
            <div class="sidebar-widget"></div>


        </aside>
    </div>
</div>